^https?:\/\/app\.bilibili\.com\/x\/(v2|resource)\/(account|show)(\/|\?)(mine|myinfo|skin\?).* url script-response-body https://github.com/qianli-Koi/Scripts/raw/master/QuantumultX/biliBeautify.js
hostname = app.bilibili.com