^https:\/\/exhentai\.org\/g\/.* url response-body </body> response-body <script async="async" id="exReader" src="https://manakanemu.github.io/ExHentaiReader/Reader.js?1653926172" fontsize=20 tag-fontsize=20 toolbar-size=65 line-color=#FFFFFF translate=true rebuild=true openBlank=false></script></body>
^https:\/\/e-hentai\.org\/g\/.* url response-body </body> response-body <script async="async" id="exReader" src="https://manakanemu.github.io/ExHentaiReader/Reader.js?1653926172" fontsize=20 tag-fontsize=20 toolbar-size=65 line-color=#FFFFFF translate=true rebuild=true openBlank=false></script></body>
^https:\/\/exhentai\.org(.*search)? - response-body </body> response-body <script async="async" id="exReader" src="https://manakanemu.github.io/ExHentaiReader/Reader_V2.min.js?"></script></body>
hostname=exhentai.org,e-hentai.org
