#^https:\/\/app-api\.pixiv\.net\/v1\/user\/detail url script-response-body https://github.com/qianli-Koi/Scripts/raw/main/QuantumultX/pixiv.js
^https:\/\/oauth\.secure\.pixiv\.net\/auth\/token url script-response-body https://github.com/qianli-Koi/Scripts/raw/main/QuantumultX/pixiv.js
^https:\/\/app-api\.pixiv\.net\/v1\/search\/illust\?.*sort=(popular_desc|popular_female_desc|popular_male_desc) url script-request-header https://github.com/qianli-Koi/Scripts/raw/main/QuantumultX/pixiv.js 

^https:\/\/www\.pixiv\.net\/touch\/ajax\/user\/self\/status url script-response-body https://github.com/qianli-Koi/Scripts/raw/main/QuantumultX/pixiv.js
^https:\/\/www\.pixiv\.net\/touch\/ajax_api\/ajax_api\.php\?mode=get_user_data url script-response-body https://github.com/qianli-Koi/Scripts/raw/main/QuantumultX/pixiv.js
^https:\/\/www\.pixiv\.net\/?$ url script-response-body https://github.com/qianli-Koi/Scripts/raw/main/QuantumultX/pixiv.js
#^https:\/\/www.pixiv.net\/.*?.php\?mode=r18 url script-response-body https://github.com/qianli-Koi/Scripts/raw/main/QuantumultX/pixiv.js
hostname=app-api.pixiv.net,oauth.secure.pixiv.net,www.pixiv.net