#Exhentai网页优化
https:\/\/exhentai\.org\/g\/.*|https:\/\/e-hentai\.org\/g\/.* url response-body <body> response-body <body><script>(function(){var s=document.createElement("script");s.setAttribute("id","exReader");s.setAttribute("src", "https://manakanemu.github.io/ExHentaiReader/Reader.js");s.setAttribute("fontsize","15");s.setAttribute("tag-fontsize","15");s.setAttribute("toolbar-size","0");s.setAttribute("line-color","#FFFFFF");s.setAttribute("translate","true");s.setAttribute("rebuild","true");s.setAttribute("openBlank","false");document.body.appendChild(s);}())</script>
e-hentai.org|exhentai.org - request-header Accept-Language:.* request-header Accept-Language: en-us
hostname=exhentai.org,e-hentai.org
