#Iwara去除弹窗|广告
https:\/\/ecchi\.iwara\.tv\/extra_content url reject-dict
https:\/\/ecchi\.iwara\.tv\/\?language=zh-hans|https:\/\/ecchi\.iwara\.tv\/(subscriptions|videos\/?.*|users\/?.*|content?.*|search?.*) url response-body </body> response-body <script>var element=document.getElementById("r18-warning");element.parentNode.removeChild(element);</script></body>
hostname=ecchi.iwara.tv
