^https:\/\/invitation\.gc\.apple\.com\/WebObjects\/GKInvitationService\.woa\/wa\/(relayInitiate|relayUpdate)|^https:\/\/match\.gc\.apple\.com\/WebObjects\/GKMatchmakerDispatcher\.woa\/wa\/checkMatchStatus|^https:\/\/friend\.gc\.apple\.com\/WebObjects\/GKFriendService\.woa\/wa\/getFriendPlayerIds url script-response-body https://github.com/qianli-Koi/QuantumultX-Script/raw/main/journey.js
hostname=match.gc.apple.com,invitation.gc.apple.com,friend.gc.apple.com