^https:\/\/app-api\.pixiv\.net\/v1\/search\/illust\?.*sort=(popular_desc|popular_female_desc|popular_male_desc) url script-response-body https://raw.githubusercontent.com/qianli-Koi/QuantumultX-Script/main/pixiv-popular.js
^https:\/\/app-api\.pixiv\.net\/v1\/user\/detail|^https:\/\/oauth\.secure\.pixiv\.net\/auth\/token url script-response-body https://raw.githubusercontent.com/qianli-Koi/QuantumultX-Script/main/pixiv.js
^https:\/\/www\.pixiv\.net\/touch\/ajax\/user\/self\/status|https:\/\/www\.pixiv\.net\/touch\/ajax_api\/ajax_api\.php\?mode=get_user_data|^https:\/\/www.pixiv.net\/.*?.php\?mode=r18 url script-response-body https://raw.githubusercontent.com/qianli-Koi/QuantumultX-Script/main/pixiv.js
https://i.pximg.net - request-header Accept:.+ request-header Referer: https://www.pixiv.net/
hostname=i.pximg.net,*.pixiv.net
