^https:\/\/invitation\.gc\.apple\.com\/WebObjects\/GKInvitationService\.woa\/wa\/(relayInitiate|relayUpdate) x-gk-bundle-id: AP-Journey url-and-header script-response-body journey.js
^https:\/\/match\.gc\.apple\.com\/WebObjects\/GKMatchmakerDispatcher\.woa\/wa\/checkMatchStatus x-gk-bundle-id: AP-Journey url-and-header script-response-body journey.js
^https:\/\/friend\.gc\.apple\.com\/WebObjects\/GKFriendService\.woa\/wa\/getFriendPlayerIds url script-response-body journey.js
^https:\/\/match\.gc\.apple\.com\/WebObjects\/GKMatchmakerDispatcher\.woa\/wa\/requestMatch x-gk-bundle-id: AP-Journey url-and-header script-request-body journey.js
hostname=match.gc.apple.com,invitation.gc.apple.com,friend.gc.apple.com