^https:\/\/invitation\.gc\.apple\.com\/WebObjects\/GKInvitationService\.woa\/wa\/(relayInitiate|relayUpdate) url script-response-body https://github.com/qianli-Koi/Scripts/raw/master/QuantumultX/journey.js
^https:\/\/match\.gc\.apple\.com\/WebObjects\/GKMatchmakerDispatcher\.woa\/wa\/checkMatchStatus url script-response-body https://github.com/qianli-Koi/Scripts/raw/master/QuantumultX/journey.js
^https:\/\/friend\.gc\.apple\.com\/WebObjects\/GKFriendService\.woa\/wa\/getFriendPlayerIds url script-response-body https://github.com/qianli-Koi/Scripts/raw/master/QuantumultX/journey.js
hostname=match.gc.apple.com,invitation.gc.apple.com,friend.gc.apple.com
